<robot name = "robot">
    <link name="link0">
        <inertial>
            <origin xyz="0 0 5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 5" rpy="0 0 0"/>
            <geometry>
            <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 5" rpy="0 0 0"/>
            <geometry>
            <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="link0_link1" type="revolute">
       <parent link="link0"/>
       <child  link="link1"/>
       <origin rpy="0 0 0" xyz="0.25 0 5" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link1">
        <inertial>
            <origin xyz="0.3154977953953465 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3154977953953465 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.9450195088974198 0.9683440644862327 0.624222953147418" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3154977953953465 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.9450195088974198 0.9683440644862327 0.624222953147418" />
            </geometry>
        </collision>
    </link>
    <joint name="link1_link2" type="revolute">
       <parent link="link1"/>
       <child  link="link2"/>
       <origin rpy="0 0 0" xyz="0.4725097544487099 0 0.312111476573709" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link2">
        <inertial>
            <origin xyz="0 0 0.29782880218010016" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.29782880218010016" rpy="0 0 0"/>
            <geometry>
            <box size="0.9962125228986325 0.8466019878295468 0.6813510800855497" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.29782880218010016" rpy="0 0 0"/>
            <geometry>
            <box size="0.9962125228986325 0.8466019878295468 0.6813510800855497" />
            </geometry>
        </collision>
    </link>
    <joint name="link2_link3" type="revolute">
       <parent link="link2"/>
       <child  link="link3"/>
       <origin rpy="0 0 0" xyz="0 0 0.6813510800855497" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link3">
        <inertial>
            <origin xyz="0 0 0.2659128393575259" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.2659128393575259" rpy="0 0 0"/>
            <geometry>
            <box size="0.43084493560781106 0.4802154638790042 0.29951179469981404" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.2659128393575259" rpy="0 0 0"/>
            <geometry>
            <box size="0.43084493560781106 0.4802154638790042 0.29951179469981404" />
            </geometry>
        </collision>
    </link>
</robot>